<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href='/'>
                    <i class="fa-solid fa-calendar-days"></i>
                    Today
                </a>
            </li>
            <li>
                <a href='/work'>
                    <i class="fa-solid fa-briefcase"></i>
                    Work
                </a>
            </li>
        </ul>

    </header>

    <main>
        
        <div class="box" id="heading">
            <h1>Work List</h1>
        </div>

        <form action="/work" method="POST">
            <input type="text" name="task" placeholder="New To Do" required>
            <input type="submit" value="+">
        </form>

        <div class="box" id="bodying">
            <ul>
                <% ListNow.forEach(element => {%>
                    <li class="item">
                        <form>
                            <div>
                            <input class="liBtn" type="checkbox" />
                            <label ><%= element %></label>
                            </div>
                        </form>
                    </li>
                <%}); %>       
            </ul>
           
       </div>
       <img src="study.svg" />
    </main>


<footer>Copyright © <%= year %></footer>
</body>
</html>